* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: gray;
    height: 100px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav li {
    line-height: 100px;
    display: inline-block;
    list-style: none;   
    margin: 0 1rem;
}

.logo img {
    vertical-align: middle;
}
/* /header */

main {
    margin-top: 5rem;
    padding: 0 1rem;
}

p {
    padding: 5rem 0;
}